:root {
  --primary-color: #e6e6e6;
  --secondary-color: #fcb69a;
  --hover-color: #f8a488;
  --heading-font-family: "Nothing You Could Do", cursive;
  --body-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font-family);
  color: black;
}

.bg-light {
  background-color: #e6e6e6 !important;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
  margin-left: 15px;
  color: black;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 75px 0;
}

.hero p {
  font-size: 36px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 70px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 100;
}

.primary-button {
  background-color: var(--secondary-color);
  font-size: 16px;
  font-weight: 480;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px 20px;
  transition: all 200ms ease-in-out;
}

.primary-button:hover {
  color: var(--hover-color);
  background-color: white;
}

.coding-projects {
  font-size: 40px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.coding-projects:hover,
.here-link:hover {
  font-style: italic;
  color: black;
}

.homepage-images:hover {
  transform: scale(1.05);
  transition: all 150ms ease-in-out;
}

.more-projects {
  font-size: 25px;
  font-weight: 300;
}

.here-link {
  text-decoration: none;
  color: black;
}

.here-link:hover {
  transition: all 200ms ease-in-out;
}

footer {
  background-color: var(--primary-color);
  padding: 20px 0;
}

.footer-icons {
  color: white;
  background-color: var(--secondary-color);
  font-size: 22px;
  text-decoration: none;
  margin: 0 20px;
  border-radius: 50%;
  padding: 7px 13px;
  transition: all 200ms ease-in-out;
}

.footer-icons:hover {
  color: var(--hover-color);
  background-color: white;
}

.footer-text {
  color: #979797;
  font-size: 14px;
  font-weight: 300;
}

.footer-link {
  text-decoration: none;
  color: #979797;
}

.footer-link:hover {
  color: var(--hover-color);
}

.navbar-brand:hover,
.nav-link:hover,
.hero h1:hover,
.code-proj:hover {
  animation: pulse 1.5s;
}

@media (max) {
}
