:root {
  --primary-color: #e6e6e6;
  --secondary-color: #fcb69a;
  --hover-color: #f8a488;
  --heading-font-family: "Nothing You Could Do", cursive;
  --body-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font-family);
}

.navbar-brand {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.navbar-brand:hover,
.nav-link:hover,
h1:hover {
  animation: pulse 1.5s;
}

.nav-link {
  font-size: 18px;
  margin-left: 15px;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 75px 0;
}

.hero p {
  font-size: 36px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 70px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 100;
}

.primary-button {
  background-color: var(--secondary-color);
  font-size: 16px;
  font-weight: 480;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px 20px;
  transition: all 200ms ease-in-out;
}

.primary-button:hover {
  background-color: var(--hover-color);
  color: white;
  padding: 16px 21px;
}

.container h3 {
  font-size: 36px;
  font-weight: 300;
}
